Repository andrewanthro/testeb: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-test, build-angular_fe

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3

workflows:
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          mapping: |
            apps/test/.* build-test true
            apps/angular-fe/.* build-angular_fe true
          base-revision: main
          config-path: .circlei/continue_config.yml

fix type in continue config file
  .circleci/config.yml
Due: none

change in angular app test
  apps/angular-fe/src/app/app.component.html
Due: build-angular_fe

fix config file; build ang
  .circleci/continue_config.yml
  apps/angular-fe/src/app/app.component.html
Due: build-angular_fe

fix config schema; ang build
  .circleci/continue_config.yml
  apps/angular-fe/src/app/app.component.html
Due: build-angular_fe

fix config schema; ang build
  .circleci/continue_config.yml
Due: none

fix config schema; ang build
  apps/angular-fe/src/app/app.component.html
Due: build-angular_fe

fix config schema; ang build
  apps/test/src/app/app.service.ts
Due: build-test

change to node image
  .circleci/continue_config.yml
  apps/angular-fe/src/app/app.component.html
Due: build-angular_fe

...
  apps/angular-fe/src/app/app.component.html
  package-lock.json
  package.json
Due: build-angular_fe

...
  .circleci/continue_config.yml
  apps/angular-fe/src/app/app.component.html
Due: build-angular_fe

...
  .circleci/continue_config.yml
  apps/angular-fe/src/app/app.component.html
  package.json
Due: build-angular_fe

test jest
  .circleci/continue_config.yml
  apps/test/src/app/app.service.ts
Due: build-test

test jest
  apps/test/src/app/app.service.ts
Due: build-test

test jest
  .circleci/continue_config.yml
Due: none

test jest
  apps/test/src/main.ts
Due: build-test

test jest
  .circleci/continue_config.yml
  apps/test/src/main.ts
Due: build-test

..
  apps/test/src/main.ts
Due: build-test

..
  .circleci/continue_config.yml
  apps/test/src/main.ts
Due: build-test

..
  .circleci/continue_config.yml
  apps/test/.gitignore
  apps/test/package.json
  apps/test/project.json
Due: build-test
