Repository andrewanthro/testeb: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-test, build-angular_fe, build-alpha_be

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3

workflows:
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          mapping: |
            apps/test/.* build-test true
            apps/angular-fe/.* build-angular_fe true
            apps/alpha-be/.* build-alpha_be true
          base-revision: main
          config-path: .circleci/continue_config.yml

..
  .circleci/config.yml
  .circleci/continue_config.yml
  apps/alpha-be/.eslintrc.json
  apps/alpha-be/jest.config.ts
  apps/alpha-be/project.json
  apps/alpha-be/src/app/.gitkeep
  apps/alpha-be/src/app/app.controller.spec.ts
  apps/alpha-be/src/app/app.controller.ts
  apps/alpha-be/src/app/app.module.ts
  apps/alpha-be/src/app/app.service.spec.ts
  apps/alpha-be/src/app/app.service.ts
  apps/alpha-be/src/assets/.gitkeep
  apps/alpha-be/src/environments/environment.prod.ts
  apps/alpha-be/src/environments/environment.ts
  apps/alpha-be/src/main.ts
  apps/alpha-be/tsconfig.app.json
  apps/alpha-be/tsconfig.json
  apps/alpha-be/tsconfig.spec.json
  apps/test/.gitignore
  apps/test/package.json
  apps/test/project.json
  package-lock.json
  package.json
Due: build-test, build-alpha_be

..
  .circleci/continue_config.yml
Due: none

..
  apps/alpha-be/src/main.ts
Due: build-alpha_be

..
  .circleci/continue_config.yml
  apps/alpha-be/src/main.ts
Due: build-alpha_be

..
  .circleci/continue_config.yml
  apps/alpha-be/package-lock.json
  apps/alpha-be/package.json
  apps/alpha-be/src/main.ts
Due: build-alpha_be
